**/target
!/target/x86_64-unknown-linux-gnu/release/hot-or-not-auth
**/cloudflare-api/Cargo.lock

examples/verify-auth-leptos/target
examples/verify-auth-leptos/node_modules
examples/verify-auth-leptos/end2end

examples/verify-auth-solidjs/node_modules

examples/verify-principal/.dfx
examples/verify-principal/src/declarations
examples/verify-principal/canister_ids.json
examples/verify-principal/target
examples/verify-principal/node_modules
examples/verify-principal/dist
examples/verify-principal/.env
